<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >

<h:head>
    <meta charset="UTF-8"/>
    <title>eCare</title>
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/homepage.css" />
<!--    <link rel="stylesheet" type="text/css" href="css/header.css" />-->
</h:head>

<h:body>
    <header>
        <div class="container">
            <a class="button" href="http://127.0.0.1:8080/">eCare</a>
        </div>
    </header>
    <section>
        <div class="table-custom">
            <div class="container">
                <h:dataTable id="dataTable" class="table" value="#{standView.tariffsWithOptions}"
                             var="tariff">
                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        ${tariff.tariffsDto.name}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Price</f:facet>
                        ${tariff.tariffsDto.price}
                    </h:column>
<!--                    <h:column>-->
<!--                        <f:facet name="header">Option name</f:facet>-->
<!--                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--                        <script> for(let i = 0; i < tariff.tariffsDto.)</script>-->
<!--                    </h:column>-->
                </h:dataTable>
            </div>
        </div>
    </section>
    <h:form>
        <f:websocket channel="stand" onmessage="function n(){console.log(123);}">
            <f:ajax event="update" render="dataTable"/>
        </f:websocket>
    </h:form>
</h:body>
</html>
