body {
    padding: 0;
    margin: 0;
    background-color: #EFEDEB;
}
header {
    font-family: Arial, sans-serif;
    height: 80px;
    padding: 0;
    margin: 0;
}
.container {
    width: 1450px;
    margin: 0 auto;
}
.logo {
    width: 146px;
    height: 72px;
    padding-top: 10px;
   -webkit-transition: 0.5s ease;
}
.logo:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}
.shopping-cart {
    position: center;
   -webkit-transition: 0.5s ease;
    width: 50px;
}
.shopping-cart:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}
nav {
    float: right;
}
.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    float: left;
    display: block;
    margin-right: 40px;
    margin-top: 32px; ;
}
.menu li a {
    color: #2E3846;
    width: 120px;
    height: 43px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -0.055em;
    left: 915px;
    top: 40px;
}
.menu li a.with-hover:hover {
    border-bottom-style: solid;
    border-bottom-color: #F2B694;
    border-bottom-width: 4px;
    padding-bottom: 15px;
    border-radius: 2px;
    transition: all 0.3s ease-in;
}
.menu li a.button-big {
    background: #2E3846;
    border: none;
    border-radius: 9px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    width: 100px;
    height: 36px;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
    padding-top: 12px;
    margin: -12px;
    margin-left: 12px;
    -webkit-transition: 0.5s ease;
}
.menu li a.button-big:hover {
    transition: all 0.5s ease-in-out;
    background-color: #FF946F;
}