body {
    padding: 0;
    margin: 0;
    background-color: #EFEDEB;
}
header {
    font-family: Arial, sans-serif;
    height: 80px;
    padding: 0;
    margin: 0;
}
section {
    margin-top: 50px;
}
.container {
    width: 1450px;
    margin: 0 auto;
}
.main {
    margin-top: 230px;
    width: 463px;
    height: 304px;
}
.slogan {
    width: 695px;
    height: 219px;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 77px;
    line-height: 90px;
    text-transform: capitalize;
    color: #2E3846;
}
.button {
    margin-top: 22px;
    margin-left: 5px;
    padding-bottom: 10px;
    width: 146px;
    height: 35px;
    padding-top: 25px;
    box-shadow: 0px 0px 20px 0px #FF9170;
    background: linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%);
    border: none;
    border-radius: 9px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
    -webkit-transition: 0.5s ease;
}
.button:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 50px 5px #FF9170;
    transform: scale(1.05);
}
.pic {
    position: absolute;
    right: 260px;
    top: 150px;
    width: 720px;
    height: 720px;
}